[submodule "site-Peking_1"]
	path = site-Peking_1
	url = https://github.com/study-adhd200/study-adhd200-site-Peking_1.git
	datalad-id = 720a614d-56f2-493f-ac94-ab97c597da99
[submodule "Peking_3"]
	path = site-Peking_3
	url = https://github.com/study-adhd200/study-adhd200-site-Peking_3.git
	datalad-id = ac2be044-f472-4c5f-8e87-fe58c5ccacad
